{{#if showLabels}}
  <div class="ember-cli-switch-control-text-left">{{offText}}</div>
{{/if}}
<div class="ember-cli-switch-control">
  <div class="bar"></div>
  <div class="button-container">
    <div class="control-button"></div>
  </div>
</div>
{{#if showLabels}}
  <div class="ember-cli-switch-control-text-right">{{onText}}</div>
{{/if}}
